<!DOCTYPE html>
<html th:lang="${#locale.language}">
<div th:replace="~{ fragments/structure :: head (#{page.user.subscription.title}, false) }"></div>
<body>
<div th:replace="~{ fragments/structure :: header }"></div>
<h1 class="text-center text-3xl font-bold mb-3" th:text="#{page.user.subscription.title}"></h1>
<div class="flex flex-col sm:flex-row justify-center">
    <div th:replace="~{ fragments/me :: userNav }"></div>
    <div class="flex flex-col px-2 md:px-0 w-full md:w-1/2 lg:w-1/3">
        <p th:utext="#{page.user.subscription.subLength(${#temporals.format(subscriptionEndDate, #locale)})}"></p>
        <form class="flex flex-col gap-2" action="/me/renewSubscription" method="post">
            <div class="labelled-field">
                <label for="cardName" th:utext="#{form.nameOnCard}"></label>
                <input
                    th:class="|field ${form.isValid('cardName') ? '' : 'border-red-500'}|"
                    type="text"
                    name="cardName"
                    id="cardName"
                    required
                    th:value="${form.hasValue('cardName') ? form.getValue('cardName') : ''}"
                >
                <div th:replace="~{ fragments/form :: errorFor('cardName') }"></div>
            </div>
            <div class="labelled-field">
                <label for="cardNumber" th:text="#{form.cardNumber}"></label>
                <input
                    th:class="|field ${form.isValid('cardNumber') ? '' : 'border-red-500'}|"
                    type="text"
                    name="cardNumber"
                    id="cardNumber"
                    pattern="([0-9]{4}[\s\-]?){4}"
                    required
                    th:value="${form.hasValue('cardNumber') ? form.getValue('cardNumber') : ''}"
                >
                <div th:replace="~{ fragments/form :: errorFor('cardNumber') }"></div>
            </div>
            <div class="flex flex-col md:flex-row gap-1">
                <div class="flex flex-col flex-1">
                    <label for="cardMonth" th:text="#{form.expirationMonth}"></label>
                    <select
                        th:class="|field ${form.isValid('cardMonth') ? '' : 'border-red-500'}|"
                        name="cardMonth"
                        id="cardMonth"
                        required
                    >
                        <option
                            th:each="i : ${ #numbers.sequence(1, 12) }"
                            th:value="${ i }"
                            th:text="${ #dates.format(#dates.create(2024, i, 1), 'MMMM') }"
                            th:selected="${ #dates.createNow().month + 1 == i }"
                        ></option>
                    </select>
                    <div th:replace="~{ fragments/form :: errorFor('cardMonth') }"></div>
                </div>
                <div class="flex flex-col flex-1">
                    <label for="cardYear" th:text="#{form.expirationYear}"></label>
                    <select
                        th:class="|field ${form.isValid('cardMonth') ? '' : 'border-red-500'}|"
                        name="cardYear"
                        id="cardYear"
                        required
                        th:value="${form.hasValue('cardYear') ? form.getValue('cardYear') : ''}"
                    >
                        <!--/*onchange="setMonthAvailability()"*/-->
                        <option
                            th:each="i : ${ #numbers.sequence(#dates.createNow().year + 7, #dates.createNow().year) }"
                            th:value="${ i + 1900 }"
                            th:text="${ i + 1900 }"
                            th:selected="${ #dates.createNow().year == i }"
                        ></option>
                    </select>
                    <div th:replace="~{ fragments/form :: errorFor('cardYear') }"></div>
                </div>
            </div>
            <div class="flex flex-col flex-1">
                <label for="cardSecCode" th:text="#{form.securityCode}"></label>
                <input
                    th:class="|no-spinner field ${form.isValid('cardSecCode') ? '' : 'border-red-500'}|"
                    type="number"
                    name="cardSecCode"
                    id="cardSecCode"
                    required
                >
                <div th:replace="~{ fragments/form :: errorFor('cardSecCode') }"></div>
            </div>
            <div class="labelled-field">
                <div th:replace="~{ fragments/form :: formErrors }"></div>
                <input class="save-button" type="submit" th:value="#{form.renewSubscription}">
            </div>
        </form>
    </div>
    <div th:replace="~{ fragments/me :: spacer }"></div>
</div>
</body>
</html>
