<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>
</head>
<body>
<!--/*@thymesVar id="form" type="ie.groupproject.musicapp.ui.Form"*/-->
<div th:fragment="errorFor(name)" class="text-red-500 mt-1" th:if="${!form.isValid(name)}">
    <ul>
        <li th:each="err : ${form.getErrors(name)}" th:text="${err}"></li>
    </ul>
</div>
<div th:fragment="formErrors" class="text-red-500" th:if="${form != null && form.formErrors.size() > 0}">
    <ul>
        <li th:each="err : ${form.getFormErrors()}" th:text="${err}"></li>
    </ul>
</div>
</body>
</html>
