<!DOCTYPE html>
<html lang="en">

<head th:fragment="head (pageTitle, formStyle)">
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <title th:text="${pageTitle}">Hello</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link th:if="${formStyle}" rel="stylesheet" href="/styles/forms.css">
</head>

<body>
<header id="header" th:fragment="header">
    <nav class="bg-gray-800 flex gap-2 p-2">
        <a class="nav-button" th:href="@{/}">Home</a>
        <div th:if="${session.user != null}" th:remove="tag">
            <a class="nav-button" th:href="@{/playlists}">Playlists</a>
        </div>
        <div th:if="${session.user == null}" th:remove="tag">
            <a class="nav-button" th:href="@{/login}">Login</a>
            <a class="nav-button" th:href="@{/register}">Register</a>
        </div>
        <div th:if="${session.user != null}" th:remove="tag">
            <a class="nav-button" th:href="@{/auth/logout}">Logout</a>
        </div>
        <div class="nav-button" th:if="${session.user != null}" th:text="${session.user.displayName}"></div>
        <div th:fragment="languageSelect" class="flex ms-auto">
            <!--/*<div class="text-white" th:text="${#locale.toLanguageTag()}"></div>*/-->
            <form th:action="@{/changeLanguage}">
                <select
                    name="lang"
                    id="language"
                    onchange="this.form.submit()"
                    class="nav-button pe-10 border-none"
                    th:with="langTag = ${#locale.toLanguageTag()}"
                >
                    <option th:selected="${langTag == 'en-UK'}" value="en-UK">English</option>
                    <option th:selected="${langTag == 'pt-PT'}" value="pt-PT">Português</option>
                </select>
            </form>
        </div>
    </nav>
</header>
</body>

</html>
