@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-button {
    @apply bg-gray-700 text-white p-2 rounded select-none;
}

body {
    @apply min-h-dvh;
}

#header {
    @apply sticky top-0 z-30;
}

/*** Forms ***/
/*region Remove arrows from number input*/

input[type=number].no-spinner::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].no-spinner {
    -moz-appearance: textfield;
}

.save-button {
    @apply bg-primary text-white p-2 cursor-pointer;
}

.labelled-field {
    @apply flex flex-col;
}

.field {
    @apply border-t-0 border-x-0 border-2 hover:bg-gray-100 focus:bg-gray-100;
}

/*endregion*/
